.catalog {
    padding-bottom: 100px;
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        margin: 0 5px;
        width: 220px;
        height: 50px;
        border: 2.0px solid #d0d0d0;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        color: #6b6b6b;
        text-align: center;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        line-height: 48px;
        transform: skewX(-25deg);
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #ffffff;
            background-color: $main-color;
            border: none;
        }
    }
    &__content {
        margin-top: 59px;
    }
}